header{
    background-color: #1abc9c;
}


/* 
[class*="col"]{
    background-color: rgba(255, 0, 0, .3);
    border: red 1px solid;
} */


section:nth-of-type(2n){
    background-color: #1abc9c;
}



footer{
    background-color: #3a546d;
}

footer #copyright{
    background-color: #2c3e50;
}



.my-rouded-circle{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}


.my_fs_7{
    font-size: 12px;
}


@media screen and (max-width:991px){
    .my-rouded-circle{
        width: 25px;
        height: 25px;
    }
    
}

@media screen and (max-width:767px){
    .my-rouded-circle{
        width: 40px;
        height: 40px;
    }
    
}